<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cuco.syzuser.mapper.PersonalMapper">

    <!-- 根据用户ID查询个人信息 -->
    <select id="findByUserId" resultType="com.cuco.syzuser.entity.Personal">
        SELECT * FROM biz_personal WHERE user_id = #{userId} AND deleted = 0
    </select>

    <!-- 插入个人信息 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="personalId" keyColumn="personal_id">
        INSERT INTO biz_personal(
            user_id, real_name, id_card, id_card_front_url, id_card_back_url,
            gender, birth_date, nationality, address, email, occupation,
            education_level, emergency_contact_name, emergency_contact_phone,
            verification_status, remark
        )
        VALUES(
            #{userId}, #{realName}, #{idCard}, #{idCardFrontUrl}, #{idCardBackUrl},
            #{gender}, #{birthDate}, #{nationality}, #{address}, #{email}, #{occupation},
            #{educationLevel}, #{emergencyContactName}, #{emergencyContactPhone},
            #{verificationStatus}, #{remark}
        )
    </insert>

    <!-- 更新个人信息 -->
    <update id="update">
        UPDATE biz_personal
        <set>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="idCardFrontUrl != null">id_card_front_url = #{idCardFrontUrl},</if>
            <if test="idCardBackUrl != null">id_card_back_url = #{idCardBackUrl},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="nationality != null">nationality = #{nationality},</if>
            <if test="address != null">address = #{address},</if>
            <if test="email != null">email = #{email},</if>
            <if test="occupation != null">occupation = #{occupation},</if>
            <if test="educationLevel != null">education_level = #{educationLevel},</if>
            <if test="emergencyContactName != null">emergency_contact_name = #{emergencyContactName},</if>
            <if test="emergencyContactPhone != null">emergency_contact_phone = #{emergencyContactPhone},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        WHERE user_id = #{userId} AND deleted = 0
    </update>

    <!-- 根据身份证号查询个人 -->
    <select id="findByIdCard" resultType="com.cuco.syzuser.entity.Personal">
        SELECT * FROM biz_personal 
        WHERE id_card = #{idCard} AND deleted = 0
    </select>

    <!-- 更新认证状态 -->
    <update id="updateVerificationStatus">
        UPDATE biz_personal 
        SET verification_status = #{verificationStatus}, verification_time = NOW()
        WHERE user_id = #{userId} AND deleted = 0
    </update>

</mapper>
