<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuco.syzuser.mapper.TwoFactorCodeMapper">
    
    <!-- 根据双因子码值查询 -->
    <select id="findByValue" resultType="com.cuco.syzuser.entity.TwoFactorCode">
        SELECT * FROM biz_two_factor_code WHERE two_factor_value = #{twoFactorValue}
    </select>
    
    <!-- 插入双因子码 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="twoFactorId" keyColumn="two_factor_id">
        INSERT INTO biz_two_factor_code(two_factor_value, user_id, grid_code_value, code_type, status, remaining_modals)
        VALUES(#{twoFactorValue}, #{userId}, #{gridCodeValue}, #{codeType}, #{status}, 100000000)
    </insert>
    
    <!-- 更新状态 -->
    <update id="updateStatus">
        UPDATE biz_two_factor_code SET status = #{status} WHERE two_factor_value = #{twoFactorValue}
    </update>
    
    <!-- 更新网格码绑定 -->
    <update id="updateGridCode">
        UPDATE biz_two_factor_code SET grid_code_value = #{gridCodeValue} WHERE two_factor_value = #{twoFactorValue}
    </update>
    
    <!-- 扣减模态标识数量 -->
    <update id="decreaseRemainingModals">
        UPDATE biz_two_factor_code 
        SET remaining_modals = remaining_modals - 1 
        WHERE two_factor_value = #{twoFactorValue} 
        AND remaining_modals > 0
    </update>
    
</mapper>
