<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuco.syzuser.mapper.UserMapper">
    
    <!-- 根据手机号查询用户 -->
    <select id="findByPhone" resultType="com.cuco.syzuser.entity.User">
        SELECT * FROM biz_user WHERE phone = #{phone} AND deleted = 0
    </select>
    
    <!-- 根据双因子码查询用户 -->
    <select id="findByTwoFactorCode" resultType="com.cuco.syzuser.entity.User">
        SELECT * FROM biz_user WHERE two_factor_code = #{twoFactorCode} AND deleted = 0
    </select>
    
    <!-- 根据网格码查询用户 -->
    <select id="findByGridCode" resultType="com.cuco.syzuser.entity.User">
        SELECT * FROM biz_user WHERE grid_code = #{gridCode} AND deleted = 0
    </select>
    
    <!-- 根据双因子码和网格码查询用户 -->
    <select id="findByTwoFactorCodeAndGridCode" resultType="com.cuco.syzuser.entity.User">
        SELECT * FROM biz_user 
        WHERE two_factor_code = #{twoFactorCode} 
        AND grid_code = #{gridCode}
        AND deleted = 0
    </select>
    
    <!-- 根据ID查询用户 -->
    <select id="findById" resultType="com.cuco.syzuser.entity.User">
        SELECT * FROM biz_user WHERE user_id = #{id} AND deleted = 0
    </select>
    
    <!-- 插入用户 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO biz_user(user_type, phone, password, two_factor_code, is_fillin, status)
        VALUES(#{userType}, #{phone}, #{password}, #{twoFactorCode}, 0, 'ACTIVE')
    </insert>
    
    <!-- 更新用户 -->
    <update id="update">
        UPDATE biz_user
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="gridCode != null">grid_code = #{gridCode}, is_fillin = 1,</if>
            <if test="modalId != null">modal_id = #{modalId},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE user_id = #{userId} AND deleted = 0
    </update>
    
    <!-- 更新密码 -->
    <update id="updatePassword">
        UPDATE biz_user SET password = #{password} WHERE phone = #{phone} AND deleted = 0
    </update>
    
    <!-- 更新用户当前模态标识 -->
    <update id="updateUserModalId">
        UPDATE biz_user SET modal_id = #{modalId} WHERE user_id = #{userId} AND deleted = 0
    </update>
    
    <!-- 插入用户模态关联记录 -->
    <insert id="insertUserModal">
        INSERT INTO user_modal(user_id, modal_id, create_time)
        VALUES(#{userId}, #{modalId}, NOW())
    </insert>
    
    <!-- 查询用户的所有模态标识 -->
    <select id="findModalsByUserId" resultType="com.cuco.syzuser.entity.UserModal">
        SELECT * FROM user_modal WHERE user_id = #{userId} ORDER BY create_time DESC
    </select>
    
    <!-- 统计已使用的模态标识数量 -->
    <select id="countUsedModals" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT modal_id) FROM user_modal
    </select>
    
    <!-- 累加用户总分数 -->
    <update id="addTotalScore">
        UPDATE biz_user 
        SET total_score = IFNULL(total_score, 0) + #{score}
        WHERE user_id = #{userId} AND deleted = 0
    </update>
    
</mapper>
